<header class="th-header header-layout6">
    <div class="header-top">
        <div class="container">
            <div class="row justify-content-center justify-content-md-between align-items-center gy-2">
                <div class="col-auto d-none d-md-block">
                    <div class="header-links">
                        <ul>
                            <li><i class="far fa-phone"></i><a href="tel:+1044123456789">+1 (044) 123 456 789</a>
                            </li>
                            <li class="d-none d-xl-inline-block"><i class="far fa-location-dot"></i>27 Division St,
                                New York, USA</li>
                            <li><i class="far fa-envelope"></i><a
                                    href="mailto:info@insurax.com">info@insurax.com</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="header-links">
                        <ul>
                            <li class="d-none d-lg-inline-block">
                                <div class="dropdown-link"><a class="dropdown-toggle" href="#" role="button"
                                        id="dropdownMenuLink1" data-bs-toggle="dropdown"
                                        aria-expanded="false">Language</a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink1">
                                        <li><a href="#">German</a> <a href="#">French</a> <a href="#">Italian</a> <a
                                                href="#">Latvian</a> <a href="#">Spanish</a> <a href="#">Greek</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="header-social"><span class="social-title">Follow Us:</span> <a
                                        href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a> <a
                                        href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a> <a
                                        href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a> <a
                                        href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sticky-wrapper">
        <div class="sticky-active">
            <div class="menu-area" data-bg-src="assets/img/update1/bg/pattern_bg_2.png">
                <div class="container">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-auto">
                            <div class="header-logo"><a href="index.html"><img src="assets/img/logo-2.svg"
                                        alt="Insurax"></a></div>
                        </div>
                        <div class="col-auto">
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <nav class="main-menu d-none d-lg-inline-block">
                                        <ul>
                                            <li class="menu-item-has-children"><a href="index.html">Home</a>
                                                <ul class="sub-menu">
                                                    <li><a href="index.html">Home 01</a></li>
                                                    <li><a href="home-2.html">Home 02</a></li>
                                                    <li><a href="home-3.html">Home 03</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children"><a href="#">Pages</a>
                                                <ul class="sub-menu">
                                                    <li><a href="about.html">About Us</a></li>
                                                    <li><a href="appointment.html">Appointment</a></li>
                                                    <li><a href="pricing.html">Pricing Plan</a></li>
                                                    <li><a href="team.html">Team</a></li>
                                                    <li><a href="team-details.html">Team Details</a></li>
                                                    <li><a href="error.html">Error Page</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children"><a href="#">Insurance</a>
                                                <ul class="sub-menu">
                                                    <li><a href="service.html">Insurance Page</a></li>
                                                    <li><a href="service-details.html">Insurance Details</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children"><a href="#">Portfolio</a>
                                                <ul class="sub-menu">
                                                    <li><a href="project.html">Portfolio</a></li>
                                                    <li><a href="project-details.html">Portfolio Details</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children"><a href="#">News</a>
                                                <ul class="sub-menu">
                                                    <li><a href="blog.html">Blog Page</a></li>
                                                    <li><a href="blog-details.html">Blog Details</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="contact.html">Contact</a></li>
                                        </ul>
                                    </nav><button type="button" class="th-menu-toggle d-inline-block d-lg-none"><i
                                            class="far fa-bars"></i></button>
                                </div>
                                <div class="col-auto d-none d-xl-block">
                                    <div class="header-button"><button type="button"
                                            class="simple-icon me-3 searchBoxToggler"><i
                                                class="far fa-search"></i></button> <a href="contact.html"
                                            class="th-btn style2">Get A Quote<i
                                                class="fas fa-arrow-right ms-2"></i></a> <a href="#"
                                            class="simple-icon style2 ms-3 sideMenuToggler"><i
                                                class="fa-sharp fa-solid fa-grid"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="logo-shape"></div>
            </div>
        </div>
    </div>
</header>