<div class="container">
    <div class="bg-theme subscribe-sec">
        <div class="row justify-content-between">
            <div class="col-xl-5 col-lg-6">
                <div class="title-area mb-lg-0">
                    <h2 class="sec-title text-white mb-0">Subscribe Our Newsletter<br class="d-md-block d-none">Get
                        update</h2>
                </div>
            </div>
            <div class="col-xl-auto col-lg-6 align-self-center">
                <form class="newsletter-form"><input class="form-control" type="email" placeholder="Email Address"
                        required=""> <button type="submit" class="th-btn">Subscribe</button></form>
            </div>
        </div>
    </div>
</div>
<footer class="footer-wrapper footer-layout3" data-bg-src="assets/img/bg/footer_bg_3.png">
    <div class="widget-area">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-6 col-xxl-3 col-xl-3">
                    <div class="widget footer-widget">
                        <div class="th-widget-about">
                            <div class="about-logo"><a href="index.html"><img src="assets/img/logo-2.svg"
                                        alt="Insurax"></a></div>
                            <p class="about-text">There are several insurance solutions available to address
                                specific needs and risks that individuals or businesses may face. Best solution is
                                here.</p>
                            <div class="th-social"><a href="https://www.facebook.com/"><i
                                        class="fab fa-facebook-f"></i></a> <a href="https://www.twitter.com/"><i
                                        class="fab fa-twitter"></i></a> <a href="https://www.linkedin.com/"><i
                                        class="fab fa-linkedin-in"></i></a> <a href="https://www.behance.com/"><i
                                        class="fab fa-behance"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-auto">
                    <div class="widget widget_nav_menu footer-widget">
                        <h3 class="widget_title">Services</h3>
                        <div class="menu-all-pages-container">
                            <ul class="menu">
                                <li><a href="service-details.html">Home Insurance</a></li>
                                <li><a href="service-details.html">Business Insurance</a></li>
                                <li><a href="service-details.html">Family Insurance</a></li>
                                <li><a href="service-details.html">Health Insurance</a></li>
                                <li><a href="service-details.html">Vehicle Insurance</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-auto">
                    <div class="widget footer-widget">
                        <h3 class="widget_title">Information</h3>
                        <div class="th-widget-contact">
                            <div class="info-wrap">
                                <p class="info-wrap_text">3891 Ranchview Dr. Richardson, California 62639</p>
                            </div>
                            <div class="info-wrap">
                                <p class="info-wrap_text">Mon-Fri : 09.00 am-05.00 pm</p>
                            </div>
                            <div class="info-wrap"><a href="tel:1145656865" class="info-wrap_link">+11 (456) 568 65
                                </a><a href="mailto:info@insurax.com" class="info-wrap_link">info@insurax.com</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="widget footer-widget">
                        <h3 class="widget_title">Gallery</h3>
                        <div class="sidebar-gallery">
                            <div class="gallery-thumb"><img src="assets/img/widget/gallery_1_1.png"
                                    alt="Gallery Image"> <a href="assets/img/widget/gallery_1_1.png"
                                    class="gallery-btn popup-image"><i class="fab fa-instagram"></i></a></div>
                            <div class="gallery-thumb"><img src="assets/img/widget/gallery_1_2.png"
                                    alt="Gallery Image"> <a href="assets/img/widget/gallery_1_2.png"
                                    class="gallery-btn popup-image"><i class="fab fa-instagram"></i></a></div>
                            <div class="gallery-thumb"><img src="assets/img/widget/gallery_1_3.png"
                                    alt="Gallery Image"> <a href="assets/img/widget/gallery_1_3.png"
                                    class="gallery-btn popup-image"><i class="fab fa-instagram"></i></a></div>
                            <div class="gallery-thumb"><img src="assets/img/widget/gallery_1_4.png"
                                    alt="Gallery Image"> <a href="assets/img/widget/gallery_1_4.png"
                                    class="gallery-btn popup-image"><i class="fab fa-instagram"></i></a></div>
                            <div class="gallery-thumb"><img src="assets/img/widget/gallery_1_5.png"
                                    alt="Gallery Image"> <a href="assets/img/widget/gallery_1_5.png"
                                    class="gallery-btn popup-image"><i class="fab fa-instagram"></i></a></div>
                            <div class="gallery-thumb"><img src="assets/img/widget/gallery_1_6.png"
                                    alt="Gallery Image"> <a href="assets/img/widget/gallery_1_6.png"
                                    class="gallery-btn popup-image"><i class="fab fa-instagram"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-wrap bg-navy">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-auto">
                    <p class="copyright-text text-center pb-md-0 pb-4"><i class="fal fa-copyright"></i> 2023 All
                        Rights Reserved By <a href="#">Insurax.</a></p>
                </div>
                <div class="col-auto">
                    <div class="footer-links">
                        <ul>
                            <li><a href="contact.html">Privacy</a></li>
                            <li><a href="contact.html">Terms & Condition</a></li>
                            <li><a href="about.html">About Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>