<div class="service-box style3">
    <div class="service-box_thumb"><img [src]="bg" alt="img">
        <div class="service-box_icon flex justify-center items-center"><img class="max-h-[3rem]" [src]="icon" alt="Icon">
        </div>
    </div>
    <div class="service-box_content">
        <h3 class="service-box_title h4"><a href="service-details.html">{{ title }}</a></h3>
        <p class="service-box_text">{{ description }}</p><a
            class="icon-btn-with-text" href="service-details.html"><i class="fa-regular fa-arrow-right"></i> <span>Load
                More</span></a>
    </div>
</div>